form {
    margin: 0 auto;
}

img {
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

#title {
    margin-top: 20px;
}

.container-display-flex {
    display: flex;
}

.container-display-column {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#invalidName, #invalidBirthday {
    color: red
}

#buttonSave, #buttonEdit {
    margin: 10px 0 10px 0;
}

/* Fixar largura span: display inline block */

.name-person {
    width: 250px;
    display: inline-block;
}

.birthday-person {
    width: 100px;
    display: inline-block;
}

.button-delete-birthday {
    margin-left: 20px;
}