form {
    margin: 0 auto;
}

.container-display-flex {
    display: flex;
}

.container-display-column {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#invalidName, #invalidBirthday {
    color: red
}

.text-margin-right {
    margin-right: 20px;
}

.button-edit-birthday {
    cursor: pointer;
    margin-left: 20px;
}